/* ============================================
   ANALYTICS CHART - MOBILE
   0px - 767px
============================================ */

@media (max-width: 767px) {

  .analytics-chart-card {
    width: 365px !important;
 

    box-sizing: border-box !important;

    padding: 20px !important;
    overflow: hidden !important;

    order: 11 !important;
  }


  /* ==========================================
     TOP VALUES
  ========================================== */

  .analytics-chart-values {
    display: flex !important;

    flex-direction: column !important;

    align-items: flex-start !important;

    gap: 14px !important;

    margin-bottom: 20px !important;
  }


  .analytics-chart-value {
    width: 100% !important;

    gap: 12px !important;
  }


  /* ==========================================
     CHART
  ========================================== */

  .analytics-chart-area {
    width: 100% !important;

    height: 250px !important;

    box-sizing: border-box !important;
  }

}