/* SUMMARY CARDS - MOBILE */

@media (max-width: 767px) {

  .summary-cards-mobile {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: 16px !important;
    width: 100% !important;
  }

  .summary-card-mobile {
    width: 265px !important;
    height: 186px !important;
    flex-shrink: 0 !important;
  }

}